.dashcontainer{
    border-color: rgb(113, 215, 240);
    justify-content: center;
    align-items: center;
    width: 640px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 10pt;
    background-color:#FFFFFF;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgb(243, 234, 189);
    position: relative;
    margin-top: 1px;
   

}