body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: rgb(40, 45, 102); */
  background: linear-gradient(217deg, rgba(19, 2, 72, 0.555), rgba(7, 65, 1, 0.947) 90.71%),
            linear-gradient(127deg, rgba(237, 99, 99, 0.968), rgba(7, 205, 7, 0) 70.71%),
            linear-gradient(336deg, rgba(23, 3, 141, 0.8), rgba(0, 0, 255, 0.836) 90.71%);
  /* background-image: URL('https://images.wallpapersden.com/image/wxl-gradient-4k_69018.jpg'); */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
